<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cdocs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CdocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashBoardActivity"
            android:label="@string/dashboard_label"
            android:theme="@style/DashBoardTheme" />

        <!--This is required if you want to do any message handling beyond receiving notifications
        on apps in the background. To receive notifications in foregrounded apps,
        to receive data payload, to send upstream messages, and so on-->
        <service android:name=".service.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--to handle the creation, rotation, and updating of registration tokens.
        This is required for sending to specific devices or for creating device groups.-->
        <service android:name=".service.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Default FCM notification icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />

        <!-- Default FCM notification color -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>